.contact {

    &-download {
        padding: 0 10px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > *:first-child {
            margin-right: 28px;
        }

        @media (max-width: 450px) {
            justify-content: space-around;
        }

        &__link {
            display: inline-block;

            img {
                max-width: 100%;
            }
        }
    }
    
    &-social {

        &__list {
            padding: 0 10px;
            display: flex;
            justify-content: center;
        }

        &__item {
            height: 36px;
            width: 36px;
            background-color: $purple;
            border-radius: 50%;

            &:hover {
                background-color: darken($purple, 20%);
            }
            
            &:not(:last-child) {
                margin-right: 28px;

                @media (max-width: 500px) {
                    margin-right: 10px;
                }
            }
        }

        &__link {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff !important;
            font-size: 18px;

            @media (max-width: 500px) {
                
            }
        }
    }
}