.functional {
    background-color: $purple;

    &-list {
        margin: 0 auto;
        padding: 30px 0 10px;
        width: 80%;
        min-width: 400px;

        @media (max-width: 920px) {
            width: 100%;
        }
    }
    
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;

        @media (max-width: 650px) {
            flex-direction: column;
        }
        
        &:nth-child(even) {

            @media (max-width: 650px) {
                flex-direction: column-reverse
            }
        }

        &:not(:last-child) {
            margin-bottom: 80px;

            @media (max-width: 750px) {
                margin-bottom: 40px;
            }
        }
        
        & > *:first-child {
            margin-right: 75px;

            @media (max-width: 920px) {
                margin-right: 20px;
            }

            @media (max-width: 650px) {
                margin-right: 0;
            }
        }

        &__img {
            flex-basis: 30%;
            min-width: 200px;
            overflow: hidden;

            @media (max-width: 650px) {
                margin-bottom: 15px;
                text-align: center;
            }

            img {
                max-width: 100%;

                @media (max-width: 650px) {
                    max-width: 60%;
                }
            }
        }

        &__text {
            margin-top: -4%; //- 30px
            flex: 1;

            @media (max-width: 920px) {
                margin-top: 0;
            }

            @media (max-width: 650px) {
                text-align: center;
            }
            
            .heading {
                margin-bottom: 25px;
                font-size: 36px;
                font-weight: bold;

                @media (max-width: 920px) {
                    margin-bottom: 10px;
                }
                
                @media (max-width: 750px) {
                    font-size: 30px;
                }
            }

            .description {
                font-size: 20px;
                line-height: 1.4;

                @media (max-width: 750px) {
                    font-size: 18px;
                }

                @media (max-width: 650px) {
                    padding: 0 10%;
                }
            }
        }
    }
}