.exchange {

    &-text {
        margin: 0 auto;
        width: 700px;

        &__heading {
            margin-bottom: 25px;
            color: $purple;
            font-size: 48px;
            font-weight: bold;
        }

        &__description {
            margin-bottom: 55px;
            color: $purple-text:;
            font-size: 20px;
            line-height: 1.4;
        }

        &-support {
            color: $purple;
            font-size: 20px;
            line-height: 1.4;
            font-weight: 500;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}