.header {
    padding: 15px 0;
    background-color: #fafafa;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.08);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-nav {

        &__menu {
            display: flex;
            
            .menu-item {
                
                &:not(:last-child) {
                    margin-right: 28px;
                }
                
                &__link {
                    color: $purple;
                    font-size: 18px;
                }
            }
        }
    }
}